body {
  margin: 0;
  font-size: 16px;
}

h1,h2 {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.5rem;
}

p,span,h3,h4,li {
  font-family: 'Proza Libre', sans-serif;
} 

strong {
  font-weight: 700;
}

section, hr {
  margin: 2rem auto;
  max-width: 1080px;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  /* font-weight:      bold; */
  color:            black;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  /* font-weight:      bold; */
  color:            black;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  /* font-weight:      bold; */
  color:            #4CAF50;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  /* font-weight:      bold; */
  color: #4CAF50;
  }

.hero {
  background:  #15781B;
  text-align: center;
  color: #A9E2AD;
  margin: 0;
  max-width: unset;
}

.title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  margin-bottom: 2rem;
}

.contact-icons {
  font-size: 3em;
  text-align: center;
}

/* Hamburger nav menu */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#main-menu {
display: block;
height: 100px;
width: 100%;
background: #4CAF50;
margin: 0px;  
z-index: 9;
}

#main-menu ul {
max-width: 800px;
width: 100%;
height: 100%;
margin: 0px auto;
padding: 0px;
display: flex;
justify-content: space-evenly;
align-items: center;
z-index: 9;
}

#main-menu li {
list-style-type: none;
font-size: 2rem;
}

#main-menu a {
color: white;
font-size: 1.5rem;
text-decoration: none;
}

#main-menu a:hover {
text-decoration: underline;
}

#hamburger-input{
display: none;
}

#hamburger-menu {
  padding: 10px;
  border-radius: 25px;
  /* opacity: 0.5; */

  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Cabin', Sans-serif;
  background: linear-gradient(
    to bottom, 
    #A9E2AD, #A9E2AD 20%, 
    transparent 20%, transparent 40%, 
    #A9E2AD 40%, #A9E2AD 60%, 
    transparent 60%, transparent 80%, 
    #A9E2AD 80%, #A9E2AD 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibilty: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #2f6e31;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}

#hamburger-menu h3 {
color: white;
font-size: 2.2rem;
}

#hamburger-menu ul {
padding-left: 0px;
}

#hamburger-menu li {
list-style-type: none;
line-height: 3rem;
}

#hamburger-menu a {
color: white;
font-size: 1.3rem;
text-decoration: none;
}

#hamburger-menu a:hover {
text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay{
 visibility: visible;
opacity: 0.4;
}


@media screen and (max-width: 750px) {
#main-menu {
  display: none;
}
#hamburger-menu {
  display: inline;
}
}

@media (max-width: 1080px) {
  section, hr {
    margin: 2rem;
  }


}



@media (max-width: 720px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }

  section {
    margin: 0px;
    margin-bottom: 2rem;
    padding: 0 2em;
  }

  p, ul, li, span{
    font-size: 16px;
  }

  .contact-icons {
    font-size: 2em;
  }

  .contact-icons i {
    margin: 0 12px;
  }

  section ul {
    padding-left: 20px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.project {
  background: gray;
  text-align: center;
  vertical-align: middle;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.logo {
  background-color: #4CAF50;
  color: white;
}



.headshot {
  display: inline-block;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}
