body {
  margin: 0;
}

h1,h2 {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

p,span,h3,h4,li {
  font-family: 'Proza Libre', sans-serif;
} 

strong {
  font-weight: 700;
}


.section {
  margin: 20px 50px;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  /* font-weight:      bold; */
  color:            black;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  /* font-weight:      bold; */
  color:            black;
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  /* font-weight:      bold; */
  color:            #4CAF50;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  /* font-weight:      bold; */
  color: #4CAF50;
  }

.hero {
  /* background-image: url("jupiter-bg.jpg"); */
  background:  #15781B;
  padding: 20px 0;
  text-align: center;
  color: #A9E2AD;
}

.title {
  margin-left: 40px;
  display: inline-block;
}

.contact-icons {
  font-size: 3em;
  text-align: center;
}

@media (max-width: 720px) {
  .hero {
  }

  .title {
    margin: 0 20px;
  }

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }

  .section {
    margin: 20px;
  }

  p, ul, li, span{
    font-size: 14px;
  }

  .contact-icons {
    font-size: 2em;
  }

  .contact-icons i {
    margin: 0 12px;
  }

  .section ul {
    padding-left: 20px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  background-color: red;
  grid-column: 1 / 3;
  grid-row: 1;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  background-color: green;
  grid-row: 2 / 5;
  grid-column: 1;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.project {
  background: gray;
  text-align: center;
  vertical-align: middle;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.logo {
  background-color: #4CAF50;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.headshot {
  display: inline-block;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}